torch==2.8.0
numpy==2.0.2
dotenv==0.9.9
resampy==0.4.3
librosa==0.11.0
torchaudio==2.8.0
mediapipe==0.10.21
resemblyzer==0.1.4
torchvision==0.23.0
ffmpeg-python==0.2.0
pyannote.audio==3.3.2
opencv-python==4.10.0.84
webrtcvad-wheels==2.0.14